//- default header 
div(class="navbar navbar-default navbar-fixed-top", role="navigation")
    div.container-fluid
        div.navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-navbar-collapse-1", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand", href="/" ) Home

        div(class="collapse navbar-collapse", id="bs-navbar-collapse-1")
            ul(class="nav navbar-nav")
                li
                    a(href="/button") Smart Button
                li
                    a(href="/statistics") Statistics
                li
                    a(href="/table") Smart Table
                li
                    a(href="/todo") Todo
                li
                    a(href="/random") Random Event
                li
                    a(href="/org") Org
                li
                    a(href="http://blog.roygu123.com") Blog
                                


            ul(class="nav navbar-nav navbar-right")
                li.dropdown
                    a(href="#", class = "dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                        |Login
                        span.caret

                    ul(class="dropdown-menu" )
                        if !user
                            li
                                a(href="/auth/facebook") Facebook
                        else
                            li
                                a(href="/logout") Logout
