extends layout

block head
    link(rel='stylesheet', href='/stylesheets/random.css')


block content
    h1 welcome to random event

    div(ng-controller="MainCtrl")
        div(class="center")
            h1
                span(class="label label-default") {{output}}


        div(class="center")
            button(id="random" class="btn btn-default" ng-click="randomEvent()") I'm feeling lucky

        div
            input(id="input" type="text" class="form-control" placeholder="Add Events" ng-model="input" ng-keyup="$event.keyCode == 13 && addEvent()")


        div
            ul(id="events", class="list-unstyled")
                li(class="ui-state-default" ng-repeat="event in events track by $index") 
                    div(class="input-group")
                        span(class="input-group-addon")
                            input(class="toggle" type="checkbox" ng-model="todo.completed" ng-click="todoCompleted(todo)")

                        label(id="label" class="edit form-control input-lg") {{event.event}}


                        span(class="input-group-btn")
                            button(class="btn btn-default btn-lg destroy" ng-click="deleteEvent(event._id)")
                                i(class="glyphicon glyphicon-remove")


                // initialize current todo 

    script(type='text/javascript').
        $(function() {
            /*
            $('#input').on('keypress',function (e) {
                if (e.which == 13) { // if this is enter 
                    if($(this).val() != ''){
                        var event = $(this).val();
                        console.log(event);
                        $('#input').val('');


                        var markup = $('<li>'+event+'</li>');
                        $('#events').append(markup);

                        $.get('/random/add', {event : event}, function(data){
                            console.log('done');
                            


                        });




                    }else{
                       // some validation
                    }
                }

            });
            */

        });