extends layout

block head
    link(rel='stylesheet', href='/stylesheets/todo.css')

block content
    div(class="container", id="main")
        div(class="row row-eq-height")
            div(class="col-md-5 col-xs-6")
                p(class="bottom-align-text")
                    h1 Todo List
            div(class="col-md-1 col-xs-6")
                p(class="bottom-align-text") 
                    a(data-toggle="modal", data-target="#myModal", href="#") help


                    div(id="myModal", class="modal fade", role="dialog")
                        div(class="modal-dialog") 
                            div(class="modal-content")
                                div(class="modal-header")
                                    button(type="button", class="close", data-dismiss="modal") &times;
                                    h4(class="modal-title") Help Page

                                div(class="modal-body")
                                    p # H1
                                    p ## H2
                                    p Alternatively, for H1 and H2, an underline-ish style:
                                    p 
                                        |Alt-H1 
                                        br
                                        |======
                                    
                                    p ~~strike down~~

                                    br
                                    p 1. First ordered list item
                                    p 2. Another item
                                    p ⋅⋅* Unordered sub-list. 
                                    p 1. Actual numbers don't matter, just that it's a number
                                    p ⋅⋅1. Ordered sub-list
                                    p 4. And another item.
                                    





        div(class="row")
            br
        div(class="row")
            div(class="col-md-10 col-xs-12")
                input(type="text", class="add-todo", placeholder="Add todo")
                hr
                ul(id="todolist", class="list-unstyled")
                    // initialize current todo 



        //- test starts here 
        hr
        h1 tests 
        div(class="row")
            div(class="col-md-6 col-xs-12")
                div(class="chessboard")
                    // 1st
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    // 2nd
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")
                    div(class="cell")

        div(class="progress")
            div(class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
                span(class="sr-only") 60% Complete

        div startdate
        div enddate 
        div(class="progress")
            div(class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
                span(class="sr-only") 45% Complete

        div(class="progress")
            div(class="progress-bar progress-bar-success" style="width: 35%")
                span(lass="sr-only") 35% Complete (success)

            div(class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%")
                span(class="sr-only") 20% Complete (warning)

            div(class="progress-bar progress-bar-danger" style="width: 10%")
                span(class="sr-only") 10% Complete (danger)


        div(class="panel panel-default")
            div(class="panel-heading")
                h3(class="panel-title")
                a(class="close pull-right close-todo" data-effect="fadeOut") x 
            div(class="panel-body") 

                div(class="editable-item" href="#") 


                div(class="editable-processed")
                    label
                        span start date: 
                        a(href="#" class="datecombo" data-type="combodate" data-pk="1" data-value="2016-05-15" data-title="Select date")
                    label
                        span end date:
                        a(href="#" class="datecombo" data-type="combodate" data-pk="1" data-value="2016-10-15" data-title="Select date")

                div(class="progress")
                    div(class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
                        span(class="sr-only") 45% Complete
            


block js
    // this should be put at the end of the body
    script(type='text/javascript', src="/javascripts/todo.js") 
    script(type='text/javascript').
        $(document).ready(function() { //when the documents reday 
            console.log('ready....');
            // init 
            $.fn.editable.defaults.mode = 'inline';             

            $('.datecombo').editable({
                mode: 'popup',
                format: 'YYYY-MM-DD',    
                viewformat: 'DD.MM.YYYY',    
                template: 'D / MMMM / YYYY',    
                combodate: {
                    minYear: 2000,
                    maxYear: 2020,
                    minuteStep: 1
                }
            });


            

            initApp();
            // console.log(!{todos});
            for (todo of !{todos} ) {
                // create a new todo 
                addTodo(todo._id,todo.description);
                //console.log(todo);
            }

        })
